<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="#{application.title}"></title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/custom.css}" rel="stylesheet">
</head>
<body>

<div th:fragment="footer" class="container-fluid">

    <nav class="navbar fixed-bottom bg-primary" data-bs-theme="dark">
        <div class="container-fluid justify-content-center">
            <span class="navbar-text my-0 py-0">Footer text</span>
        </div>
    </nav>

</div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>