<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{/img/favicon.png}" rel="icon" type="image/png" />
    <title th:text="#{application.title}"></title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/custom.css}" rel="stylesheet">
</head>
<body th:object="${company}">
<div th:replace="fragments/header :: header(*{name})"></div>

<h1 th:text="*{name}"></h1>
<h1 th:text="*{niche.displayValue}"></h1>

<div th:replace="fragments/footer :: footer"></div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>