<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="#{application.title}"></title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    <tr th:each="company : ${listOfCompanies}">
        <td th:text="${company.id}"></td>
        <td th:text="${company.name}"></td>
    </tr>
</table>

<div th:replace="fragments/footer :: footer" class="container"></div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>